body {
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    color: gray;
    float: left;
    margin-left: 800px;
}

#loginDiv {
    border-style: outset;
    color: black;
    float: right;
}

#AddStockDiv {
    float: right;
    width: 220px;
    padding: 20px;
    margin-right: 100px;
    margin-top: 50px;
}

#LoginButton {
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: darkgreen;
}

#AddStockButton {
    padding: 5px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    color: darkgreen;
    float: right;
    text-align: center;
}

#AddStockButton:hover {
    opacity: .8;
}

#TickerInput {
    float: left;
    width: 80px;
    margin: 1px;
}

#QuantityInput {
    float: left;
    width: 80px;
    margin: 1px;
}

#TickerLabel {
    width: 100px;
    float: left;
    padding-right: 10px;
    padding-left: 18px;
    padding-top: 2px;
    border: black;
}

#QuantityLabel {
    width: 100px;
    float: left;
    padding-right: 10px;
    padding-left: 18px;
    padding-top: 2px;
    border: black;
}

#TickerSubmit {
    float: right;
    padding-right: 2px;

}

#container {
    float: left;
    padding-top: 30px;
    padding-left: 30px;
}