body {
    background-color: whitesmoke;
    text-align: center;
}

h1 {
    color: gray;
    float: left;
    margin-left: 31.25%;
}

#loginDiv {
    border-style: outset;
    color: black;
    float: right;
}

#AddStockDiv {
    float: right;
    width: 8.6%;
    padding: 20px;
    margin-right: 3.9%;
    margin-top: 3.5%;
}

#LoginButton {
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: darkgreen;
}

#AddStockButton {
    padding: 2%;
    margin: 2%;
    width: 90%;
    cursor: pointer;
    background-color: white;
    color: darkgreen;
    float: right;
    text-align: center;
}

#AddStockButton:hover {
    opacity: .8;
}

#TickerInput {
    float: left;
    width: 40%;
    padding-left: 10%;
}

#QuantityInput {
    float: left;
    width: 40%;
    padding-left: 10%;
}

#TickerLabel {
    width: 20%;
    float: left;
    padding-right: 15%;
    padding-left: 10%;
    padding-top: 1%;
    border: black;
}

#QuantityLabel {
    width: 20%;
    float: left;
    padding-right: 15%;
    padding-left: 10%;
    padding-top: 1%;
    border: black;
}

#TickerSubmit {
    padding: 2%;
    margin: 2%;
    width: 90%;
    cursor: pointer;
    background-color: white;
    color: darkgreen;
    float: right;
    text-align: center;
}

#container {
    float: left;
    padding-top: 30px;
    padding-left: 30px;
}